<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD APP</title>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.css" rel="stylesheet" />
    <!-- Custom styles -->
    <link rel="stylesheet" href="/public/css/admin.css" />
</head>

<body>
    <!--Main Navigation START -->
    <header>
        <!-- Sidebar START -->
        <%- include('../partials/sidebar.ejs', {activeTab:2}) %>
        <!-- Sidebar END -->

        <!-- Navbar -->
        <%- include('../partials/navbar.ejs') %>
        <!-- Navbar -->
    </header>
    <!--Main Navigation END-->

    <!--Main dashboard layout-->
    <main style="margin-top: 58px">
        <div class="container pt-4">
            <section class="mb-4">
                <div class="card">
                    <div class="card-header py-3">
                        <h5 class="mb-0 text-center"><strong>USER LIST</strong></h5>
                    </div>
                </div>
                <!-- <div class="card-footer d-flex mb-3 justify-content-center">
                    <div class="btn-group">
                        <a href="/admin/users/export-pdf" class="btn btn-secondary">PDF</a>
                        <a href="/admin/users/export-excel" class="btn btn-secondary">EXCEL</a>
                        <a href="/admin/users/export-csv" class="btn btn-secondary">CSV</a>
                    </div>
                </div> -->
            </section>

            <div class="container">
                <div class="text-center">
                    <!-- start form -->
                    <form action="/admin/users/search" method="get" id="searchForm">
                        <div class="row mb-3">
                            <div class="col-md-6 col-sm-12">
                                <input type="text" class="form-control" name="name" placeholder="Search name..." <%=queryBack.name? `value=${queryBack.name} ` :
                                    `` %>>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input type="text" class="form-control" name="username" placeholder="Search username..." <%=queryBack.username?
                                    `value=${queryBack.username} ` : `` %>>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 col-sm-12">
                                <input type="text" class="form-control" name="email" placeholder="Search email..." <%=queryBack.email? `value=${queryBack.email}
                                    ` : `` %>>
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="role" value="1" <%= queryBack.role? (queryBack.role.includes('1')? 'checked':''):'' %> />
                                    <label class="form-check-label" for="inlineCheckbox1">1 - User</label>
                                </div>

                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="role" value="2" <%= queryBack.role? (queryBack.role.includes('2')? 'checked':''):'' %> />
                                    <label class="form-check-label" for="inlineCheckbox2">2 - Admin</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" name="role" value="3" <%= queryBack.role? (queryBack.role.includes('3')? 'checked':''):'' %> />
                                    <label class="form-check-label" for="inlineCheckbox3">3 - Manager</label>
                                </div>

                                <!-- <select name="role">
                                    <option disabled value="null">Search role...</option>
                                    <option value="1" <%=queryBack.role===1? 'selected' :'' %>>1 - User</option>
                                    <option value="2" <%=queryBack.role===2? 'selected' :'' %>>2 - Admin</option>
                                    <option value="3" <%=queryBack.role===3? 'selected' :'' %>>3 - Manager</option>
                                </select> -->
                            </div>
                        </div>
                        <div class="row mb-3 text-center">
                            <div class="col">
                                <button type="submit" class="btn btn-primary">
                                    Search
                                </button>
                                <button type="button" class="btn btn-outline-danger" id="clearBtn">
                                    Clear
                                </button>
                            </div>
                        </div>
                    </form>
                    <!-- end form -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th class="fw-bold">#</th>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Username</th>
                                    <th>Password</th>
                                    <th>Email</th>
                                    <th>Role</th>
                                    <th>Role name</th>
                                    <th>CreatedAt</th>
                                    <th>CreatedBy</th>
                                    <th>UpdatedAt</th>
                                    <th>UpdatedBy</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% userList.forEach((user, index)=> { %>
                                <tr>
                                    <td class="fw-bold">
                                        <%= ++index %>
                                    </td>
                                    <td>
                                        <%= user.id %>
                                    </td>
                                    <td>
                                        <%= user.name.length> 12? user.name.slice(0,12) + '...': user.name %>
                                    </td>
                                    <td>
                                        <%= user.username.length> 12? user.username.slice(0,12) + '...': user.username %>
                                    </td>
                                    <td>
                                        <%= user.password.length> 12? user.password.slice(0,12) + '...': user.password %>
                                    </td>
                                    <td>
                                        <%= user.email.length> 12? user.email.slice(0,12) + '...': user.email %>
                                    </td>
                                    <td>
                                        <%= user.role %>
                                    </td>
                                    <td>
                                        <%= user.role==1? 'User' : (user.role==2? 'Admin' :'Manager') %>
                                    </td>
                                    <td>
                                        <%= user.created_at? dayjs(user.created_at).format('DD/MM/YYYY HH:mm:ss'): '' %>
                                    </td>
                                    <td>
                                        <%= user.created_by %>
                                    </td>
                                    <td>
                                        <%= user.updated_at? dayjs(user.updated_at).format('DD/MM/YYYY HH:mm:ss'): '' %>
                                    </td>
                                    <td>
                                        <%= user.updated_by || '' %>
                                    </td>
                                    <td>
                                        <div class="btn-group" role="group" aria-label="Basic example">
                                            <a href="/admin/users/edit/<%= user.id %>" class="btn btn-secondary">Edit</a>
                                            <a class="btn btn-danger" id="delUserBtn" data-user-id="<%= user.id %>">Del</a>
                                        </div>
                                    </td>
                                </tr>
                                <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </main>


    <!-- MDB -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.0.1/mdb.min.js"></script>
    <!-- chartjs -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Custom scripts -->
    <script type="text/javascript" src="/public/js/admin.js"></script>
    <!-- modal id: #errorModal -->
    <%- include('../partials/modal/errorModal.ejs', {message:message}) %>
    <!-- active errorModal if message exist -->
    <% if(message) {%>
    <script>
        const errorModal = document.querySelector('#errorModal');
        const modal = new mdb.Modal(errorModal);
        modal.show()
    </script>
    <% } %>

    <!-- jquery script -->
    <script>
        $(document).ready(function() {
            // if click del button then call ajax delete request
            $(document).on('click', '#delUserBtn', function() {
                const userId = $(this).attr('data-user-id');
                const check = confirm('Are you sure you want to delete this users?');
                if (check) {
                    $.ajax({
                        type: 'DELETE',
                        url: `/api/admin/users/${userId}`,
                        success: function(res) {
                            alert(res.message);
                            location.reload();
                        },
                        error: function(response, status, error) {
                            console.log(response, status, error);
                        }
                    });
                }
            });

            $(document).on('click', '#clearBtn', function() {
                // location.replace('/users/list');
                $(':input', '#searchForm')
                    .not(':button, :submit, :reset, :hidden')
                    .val('')
                    .prop('checked', false)
                    .prop('selected', false);
            })
        })
    </script>
</body>

</html>